<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89080517295-gi5c06ad62i86s3kvntmmnpcfik7oe32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89080517295-gi5c06ad62i86s3kvntmmnpcfik7oe32</string>
	<key>API_KEY</key>
	<string>AIzaSyCWP2GPxloO6tIbgCvsUs-g1d-Sc8Ix7MQ</string>
	<key>GCM_SENDER_ID</key>
	<string>89080517295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.corona</string>
	<key>PROJECT_ID</key>
	<string>poetic-now-271903</string>
	<key>STORAGE_BUCKET</key>
	<string>poetic-now-271903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89080517295:ios:be78d0e20691c34f01ba5a</string>
	<key>DATABASE_URL</key>
	<string>https://poetic-now-271903.firebaseio.com</string>
</dict>
</plist>